section{
    padding-bottom: 1.5rem; 
}
#backgrand1{
    width: 1300px;
    height: 720px;
    position: absolute;
    background-color: #ddd;
    z-index: -1;
    left: 17%;
    bottom: 190px;
    @media screen and(max-width:768px){
        width: 100%;
        left: 0%;
    }
}
#section1{
    .h1{
        margin: 1em 0;
    }
    .h2{
        margin-bottom: 1em;
    }
}
#section2{
    .col.sec2_pic{
        margin-bottom: 40px;
    }
    .col-10.sec2_text{
        margin-bottom: 128px;
        @media screen and (max-width:992px) {
            margin-bottom: 40px;
        }
    }
}
    
#section3{
    h1.h2{
        margin-top: 40px;
    }
    p.h3{
        margin-top: 20px;
        margin-bottom: 10px;
        line-height: 35px;
    }
    .container{
        margin-bottom: 170px;
        @media screen and (max-width:992px){
            margin-bottom: 70px;            
        }
    }
}
.border_outside{
    padding-bottom: 120px;
    &::before{
        content: "";
        border: 1px solid #003A3E;
        border-radius: 10px;
        padding: 0 45% 650px;
        top:30px;
        position: absolute;
        left: 15px;
        @media screen and(max-width:768px){
            padding: 0 45% 650px;
            right: 15px;
        }
    }
    &::after{
        content: "";
        border: 1px solid #003A3E;
        border-radius: 10px;
        padding: 0 45% 650px;
        top:75px;
        position: absolute;
        right: 15px;
        z-index: -1;
        @media screen and(max-width:768px){
            padding: 0 40% 620px;
            left: 30px;
            right: 30px;
            top:45px;
        }
    }
}
#map {
    height: 400px;  /* The height is 400 pixels */
    width: 100%;  /* The width is the width of the web page */
   }
