#section1 {
    h1.h1 {
        margin-top: 2em;
    }

    p {
        margin: 1em 0;
    }
   
}

#section2 {
    h1 {
        margin-top: 2em;
    }

    p {
        padding-bottom: 1em;
        line-height: 30px;
    }

    .swiper-container.s1 {
        padding-bottom: 2rem;
    }

}

#section3 {
    padding: 120px 0;

    .sample {
        margin: 40px auto;
        width: 34%;
        height: 450px;
        background-color: #ddd;
    }

}

#section4 {
    padding-bottom: 50px;
    h1{
        padding-bottom: 20px;
    }
    p{
        line-height: 30px;
        padding-bottom: 20px;
    }

    .content_L {
        position: relative;

        .img {
            width: 100%;
            margin-bottom: 40px;

            @media screen and(min-width:768px) {
                position: absolute;
                top: 0;
                right: 0;
                width: 850px;
                height: 500px;
            };
        }

        .text {
            margin: 0;

            @media screen and(min-width:768px) {
                padding-top: 580px;
            }
        }
    }

    .content_R {
        position: relative;

        .img {
            width: 100%;
            margin-bottom: 40px;

            @media screen and(min-width:768px) {
                position: absolute;
                top: 400px;
                left: 0;
                width: 850px;
                height: 500px;

            }

            ;

        }

    }
}
#section6{
   hr{margin: 5px 0;}
   .text-card{
       padding: 1rem;
       margin-top:670px;
       background-color: rgba(255, 255, 255, 0.685);
       @media screen and (max-width:768px){
        margin-top:200px;

      }
      @media screen and (max-width:400px){
        margin-top:150px;

      }

}
    #backgrand1 {
      width: 1300px;
      position: absolute;
      z-index: -1;
      left: 17%;
      bottom: 190px;
      @media screen and (max-width:768px){
        width: 100%;
        left: 0%;
        bottom: 100px;

      }
    }
}
  

.border_outside {
    padding-bottom: 120px;

    &::before {
        content: "";
        border: 1px solid #003A3E;
        border-radius: 10px;
        padding: 0 45% 850px;
        top: 30px;
        position: absolute;
        left: 15px;

        @media screen and(max-width:768px) {
            padding: 0 45% 850px;
            right: 15px;
        }
    }

    &::after {
        content: "";
        border: 1px solid #003A3E;
        border-radius: 10px;
        padding: 0 45% 850px;
        top: 50px;
        position: absolute;
        right: 15px;
        z-index: -1;

        @media screen and(max-width:768px) {
            padding: 0 40% 820px;
            left: 30px;
            right: 30px;
            top: 45px;

        }
    }
}