section{margin-bottom: 1.5rem;}
#section1 {
    .h1 {
        margin: 1em 0;
    }

    .h2 {
        margin-bottom: 1.5em;
    }
    .swiper-container.s1{
        margin-bottom: 1.5rem;
    }
}

._object1,
._object2,
._object3 {

    img {
        border-radius: 10px;
    }

}

.obj1 {
    position: relative;
    padding-bottom: 50px;

    // background-color: #fff;
    // height: 500px;
    @media screen and(min-width:768px) {
        padding-top: 80px;
        padding-bottom: 250px;
    }

    ._object1 {
        margin: 0 0 0 auto;
        max-width: 600px;
        position: relative;

        right: 0;
    }

    ._object2 {
        width: 500px;

        position: absolute;
        // height: 284px;
        top: 150px;
        right: 200px;
    }

    ._object3 {
        width: 170px;
        position: absolute;
        // height: 284px;
        right: 130px;
        top: 300px;
    }
}

.obj2 {
    position: relative;
    
    padding-bottom: 50px;

    // background-color: #fff;
    // height: 500px;
    @media screen and(min-width:768px) {
        padding-bottom: 250px;
        padding-top: 80px;
    }

    ._object1 {
        margin: 0 auto 0 0;
        max-width: 470px;
        // background-color: aquamarine;
        position: relative;
        // height: 284px;
        left: 0;
    }

    ._object2 {
        width: 670px;
        // background-color: rgb(54, 126, 102);
        position: absolute;
        // height: 284px;
        top: 200px;
        left: -80px;
    }
}

.obj3 {
    position: relative;
    
    padding-bottom: 50px;

    // background-color: #fff;
    // height: 500px;
    @media screen and(min-width:768px) {
        padding-bottom: 250px;
        padding-top: 80px;
    }

    ._object1 {
        margin: 0 0 0 auto;
        max-width: 600px;
        // background-color: aquamarine;
        position: relative;
        // height: 284px;
        right: 0;
    }

    ._object2 {
        width: 500px;
        // background-color: rgb(54, 126, 102);
        position: absolute;
        // height: 284px;
        top: 200px;
        right: 100px;
    }

    ._object3 {
        width: 170px;
        // background-color: rgb(41, 73, 62);
        position: absolute;
        // height: 284px;
        left: 0;
        top: 200px;
    }
}

.obj4 {
    position: relative;
    
    padding-bottom: 50px;

    // background-color: #fff;
    // height: 500px;
    @media screen and(min-width:768px) {
        padding-bottom: 250px;
        padding-top: 80px;
    }

    ._object1 {
        margin: 0 auto;
        max-width: 470px;
        // background-color: aquamarine;
        position: relative;
        // height: 284px;
        right: 0;
    }

    ._object2 {
        width: 570px;
        // background-color: rgb(54, 126, 102);
        position: absolute;
        // height: 284px;
        top: 220px;
        left: -100px;
    }

    ._object3 {
        width: 170px;
        // background-color: rgb(41, 73, 62);
        position: absolute;
        // height: 284px;
        right: 0px;
        top: 200px;
    }
}


#section3 {
    .container {
        height: 100%;

        .row {
            height: 100%;
        }
    }
    .col-12.col-md-6.text-white{
        padding: 150px 50px 50px;
        @media screen and (max-width:768px){
            padding: 50px 50px;
        }
    }
}
#section4{
    .swiper-wrapper{
        transition-timing-function: linear;
    }
}
@media screen and (max-width:768px) {
    a.btn.btn-primary {

        position: absolute;
        top: 200px;
        left: 50%;
        transform: translatex(-50%);
    }
    #myScrollspy{
        display: none !important;
    }
}
@media screen and (max-width:400px) {
    a.btn.btn-primary {

        position: absolute;
        top: 150px;
        left: 50%;
        transform: translatex(-50%);
    }
}


video {
    position: absolute;
    z-index: -1;
    top: 0px;
}

.product__image ._object1,
.product__image ._object2,
.product__image ._object3 {
    overflow: hidden
}

.product__image ._object1:before,
.product__image ._object2:before,
.product__image ._object3:before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 20;
    background-color: #f2f2f2;
    -webkit-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    transform: translateX(-100%)
}

.product__image ._object1 img,
.product__image ._object2 img,
.product__image ._object3 img {
    -webkit-transition: opacity 0.5s cubic-bezier(0.075, 0.82, 0.165, 1) 0.5s, -webkit-transform 1s cubic-bezier(0.075, 0.82, 0.165, 1) 0.5s;
    transition: opacity 0.5s cubic-bezier(0.075, 0.82, 0.165, 1) 0.5s, -webkit-transform 1s cubic-bezier(0.075, 0.82, 0.165, 1) 0.5s;
    -o-transition: opacity 0.5s cubic-bezier(0.075, 0.82, 0.165, 1) 0.5s, transform 1s cubic-bezier(0.075, 0.82, 0.165, 1) 0.5s;
    transition: opacity 0.5s cubic-bezier(0.075, 0.82, 0.165, 1) 0.5s, transform 1s cubic-bezier(0.075, 0.82, 0.165, 1) 0.5s;
    transition: opacity 0.5s cubic-bezier(0.075, 0.82, 0.165, 1) 0.5s, transform 1s cubic-bezier(0.075, 0.82, 0.165, 1) 0.5s, -webkit-transform 1s cubic-bezier(0.075, 0.82, 0.165, 1) 0.5s;
    opacity: 0;
    -webkit-transform: translateX(-20%);
    -ms-transform: translateX(-20%);
    transform: translateX(-20%)
}

.product.is-active .product__image ._object1:before,
.product.is-active .product__image ._object2:before,
.product.is-active .product__image ._object3:before {
    -webkit-animation: a-slideIn 1.3s cubic-bezier(0.075, 0.82, 0.165, 1) 0s 1 normal;
    animation: a-slideIn 1.3s cubic-bezier(0.075, 0.82, 0.165, 1) 0s 1 normal
}

.product.is-active .product__image ._object1 img,
.product.is-active .product__image ._object2 img,
.product.is-active .product__image ._object3 img {
    opacity: 1;
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0)
}

@-webkit-keyframes a-slideIn {
    0% {}

    50% {
        -webkit-transform: translateX(0);
        transform: translateX(0)
    }

    to {
        -webkit-transform: translateX(100%);
        transform: translateX(100%)
    }
}

@keyframes a-slideIn {
    0% {}

    50% {
        -webkit-transform: translateX(0);
        transform: translateX(0)
    }

    to {
        -webkit-transform: translateX(100%);
        transform: translateX(100%)
    }
}

#section3 {
    .container {
        overflow: hidden;
    }
}

.banner {
	height: 100vh;
	position: relative;
    overflow: hidden ;
    &>img{
        max-width: 100%;
        position: absolute;
        top: 50vh;
        left: 50%;
        transform: translate(-50%,-50%)
    }
}

.banImg {
	width: 100%;
	height: 100vh;
	// position: fixed !important;
	left: 0;
	top: 0;
}