.obj1 {
    position: relative;
    padding-top: 80px;
    padding-bottom: 50px;
    // background-color: #fff;
    // height: 500px;
    @media screen and(min-width:768px){
        padding-bottom: 250px;
    }
    .obj_ch1 {
        margin: 0 0 0 auto;
        max-width: 600px;
        background-color: aquamarine;
        // position: absolute;
        // height: 284px;
        right: 0;
    }
    .obj_ch2 {
        width: 500px;
        background-color: rgb(54, 126, 102);
        position: absolute;
        // height: 284px;
        top:150px;
        right:200px ;
    }
    .obj_ch3{
        width: 170px;
        background-color: rgb(41, 73, 62);
        position: absolute;
        // height: 284px;
        right: 130px;
        top:300px;
    }
}


#section3{
    .container{
        height: 100%;
        .row{
            height: 100%;
        }
    }
}
@media screen and (max-width:768px) {
    a.btn.btn-primary{
      
      position: absolute;
      top: 300px;
      left: 50%;
      transform: translatex(-50%);
  }}


