@font-face {
    font-family: “文鼎明體”;
    src: url(/ARMingB5Heavy.otf);
}

html {
    scroll-behavior: smooth;
}

body{
    position: relative;
}

.embFont01 {
    font-family: “文鼎明體”;
    font-size: 16px;
}

#banner {
    width: 100%;
    height: 100vh;
    overflow: hidden;


}

.bannerimg {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    /* transform: scale(1.2) ;
    transition: transform 60s; */
}

#banner .bannerimg {
    transform: scale(1.1);
    transition: transform 20s;
}

.box {
    width: 770px;
    height: 470px;
    background-size: cover;
    background-position: center;
    z-index: 1;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

#section2,
#section4 {
    height: 100vh;
    background-color: #999;
}

#section3,
#section5 {
    height: 100vh;
    background-color: #bbb;
}

#backtop {
    position: fixed;
    bottom: 32px;
    right: 32px;
    z-index: 99;
}

.nav2 {
    position: fixed;
    right: 50px;
    top: calc(50vh - 60px);
    z-index: 99;
}

.nav2 .nav-link{
    padding: 0;
}

.nav2_btn {
    width: 14px;
    height: 14px;
    background-color: #fff;
    border: 1px solid black;
    border-radius: 50%;
}

.nav2 .nav-link.active .nav2_btn{
    background-color: #000;
}