.obj1 {
    position: relative;
    padding-top: 80px;
    background-color: #fff;
    // height: 500px;
    .obj_ch1 {
        margin: 0 0 0 auto;
        width: 600px;
        background-color: aquamarine;
        // position: absolute;
        height: 284px;
        right: 0
        ;
    }
    .obj_ch2 {
        width: 500px;
        background-color: rgb(54, 126, 102);
        position: absolute;
        height: 284px;
        top:150px;
        right:200px ;
    }
    .obj_ch3{
        width: 170px;
        background-color: rgb(41, 73, 62);
        position: absolute;
        height: 284px;
        right: 130px;
        top:300px;
        &::after{
            clear: both;

        }
    }

}
#section3{
    .container{
        height: 100%;
        .row{
            height: 100%;
        }
    }
}